body {
    background: rgb(190, 192, 192);
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

header{
    display:flex;
    text-align: center;
    font-size: 2em;
    background-color: rgba(27, 89, 117, 0.753);
    padding: 30px;
    position: relative;
    border-radius: 25px;
    padding: 20px;
    height: 150px;
    width: auto;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

img {
    width: 250px;
    margin: 30px;
    border: 1px;
    position: absolute;
    right: 70px;
}

.main{
  margin: 40px 40px 200px 40px;  
}
h2{
    font-size: 1.5em;
    margin-left: 20px; 
}

li{
    font-size: 1.5em;
    color: black;
    margin: 0;
}

.href{
    color:rgba(3, 3, 54, 0.795);
}

footer{
    display: block;
    background-color:rgba(27, 89, 117, 0.753);
    border-radius: 5px;
    padding-left: 10px;
    text-align: center;
    font-size: 1em;
    width: auto;
    height: 100px;
    margin-top: 150px;
    margin-left: 10px;
    margin-right: 10px;
}




