/* Media Query for medium+ views */
@media only screen and (min-width: 35em) {

    .navigation li:first-child{
        display:none;
    }
    nav ul{
        margin-left: 2% ;
    }
	nav ul li{
        float:left;
    }

    nav ul li a{ 
        border: none;
        padding: .8rem 1rem;
    }
}
