main{
	max-width: 80em;
	margin: 0 auto;
	padding: 10px;
}


body {
	background-color:lightskyblue;
	padding: 0;
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

header {
	background-color: lightgreen;
	padding: 5px 0;
	display: flex;
	align-items:center;
	justify-content:center;
}

picture {
	width: 80px;
	
}

.headings {
	display: flex;
	flex-direction: column;
}

.headings h1 {
	font-size: 2rem;
	margin: 0 0 0 17px;
}

.moto {
	font-style: italic;
	letter-spacing: 1pt;
	color: rgb(0, 0, 0) solid;
	margin-left: 20px;
	font-size: 25px;

}


nav button {
	margin: .2rem 2%;
	background-color: transparent;
	border: none;
	font-size: 1.6rem;
	color:white;
	display: none;

}

nav {
	background-color: green;
	margin: 0 auto;
	max-width: 100%;
	font-size: 20px;
}

.navigation{
	max-width: 80em;
	list-style: none;
	padding: 0;
}


.navigation li:first-child{
	display: block;
}



.navigation a{
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
}

.navigation a:hover{
	color:gold;
}
nav ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav ul li a{
	display: block;
	padding: 8rem 2%;
	text-decoration: none;
	color: #000;
	border-top: 1px solid rgba(0,0,0,0.3);
}


nav ul li.active a {
	background-color: lightskyblue;
}

nav ul li a:hover{
	background-color:rgba(0, 0, 0, 0.4);
}


.responsive li {
	display: block;
}


/*footer*/
footer{
	background-color:lightgreen;
	font-family: 'Trebuchet MS', sans-serif;
	margin: 0 auto;
	max-width: 100%;

}

#footerBar{
	background-color: green;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 20px;

}
footer p{
	font-size: 20px;
}

/*contact area*/
#contactArea{
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 15px;
	text-align: center;
}

#mapImg{
	justify-self: end;
	height: auto;

}

#contactTextArea{
	display:flex;
	flex-direction: column;
}
#contactTextArea p{
	margin: 0;
	padding-bottom: 15px;
}

#contactTextArea h3{
	grid-column: 1 / 3;
	margin-top: 0;
}

.socialIcon{
	width: 20px;
	height: auto;
}