body{
    background-color:rgb(206, 228, 241);
    font-family: Arial, Helvetica, sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80em;
    margin: 0 auto;
    padding: 10px;

}

h1{
    font-size: 25px;
    color: white;
}

header, footer{
    display: flex;
    align-items: center;
    background-color: green;
    justify-content: center;

}

picture{
    width: 300px;
    filter: blur();
    transition: filter 2s;
    box-shadow: 7px 13px 26px -8px rgba(5, 5, 5, 0.75);
}
img[data-src] {
    filter: blur(0.2em);
  }
  
/*footer*/

#footerBar{
	background-color: green;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 20px;

}
footer p{
	font-size: 20px;
}





/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
	content: "";
	display: table;
	clear: both;
  }