/* Larger viewports */
@media only screen and (min-width: 60rem) {
	img{
		width: 100%;
		
	}
	.navigation li:first-child{
        display:none;
    }

	nav ul li a {
		padding: .6rem 1rem;
	}
	
	.headings h1 {
		font-size: 3rem;
	}

	.moto {
		letter-spacing: 1.5pt;
		font-size: larger;
		margin-left: 17px;
	}

	.navigation a{
		font-size: 20px;
	}

	.heroArea{
		display: flex;
		position: relative;
	}

	#article img{
		width: 100%;
		margin: 0px;
	}

/* weather page*/
	.gallery{
		display: grid;
		height: auto;
		grid-template-columns: repeat(3, 1fr);
		gap: 10px;

}

	.gallery h2{
		display: block;
		font-size: 2em;
		grid-column: 1/ -1;

	}
	
	.gallery figure img{
			width: 100%;
			padding: 0;
			
			
			


	}
 
	.gallery figure{
		justify-self: center;
		transition-duration: 3s, 3s;
				
	}

	figure:hover {
		box-shadow: 8px 10px 46px 12px rgba(0,0,0,0.75);
		transform: rotate(360deg);
		transition-timing-function: ease-in-out;
	}

	.gallery figcaption{
		text-align: center;
	}


	
		

	
}
