/* Media Query for medium+ views */
@media only screen and (min-width: 40em) {
    .navigation{
        display:flex;
    }

    .navigation li{
        display: block;
        flex: 1 1 auto;
    }

    .navigation a{
        text-align: center;
    }

    .navigation li:first-child{
        display:none;
    }
    nav ul{
        margin:0 ;
    }
	nav ul li{
        float:left;
    }

    nav ul li a{ 
        border: none;
        padding: .6rem 1rem;
        font-size: 20px;
    }

    /*home page*/
    
    .towns section {
        flex-direction: row;
        
    }
    
    .towns section:nth-child(odd){
        flex-direction: row-reverse;
    }
    
    #towns section p{
        width: 50%;
    }

    .towns section img{
        width: 50%;
        
    }

    
    }