/* Media Query for medium+ views */
@media only screen and (min-width: 40em){
    /* navigation menu*/
    #navigation{
        display:flex;
    }

    #navigation li{
        display: block;
        flex: 1 1 auto;
    }

    #navigation a{
        text-align: center;
    }

    #navigation li:first-child{
        display:none;
    }
    
    nav ul{
        margin:0 ;
    }
	nav ul li{
        float:left;
    }

    nav ul li a{ 
        border: none;
        padding: .6rem 1rem;
        font-size: 20px;
    }
    /*home page*/
    

    /* footer*/

  .container-footer {
    width: 700px;
    flex-wrap: wrap;
    }
    .bloc {
        width: 40%;
        margin: 0 0;
    }
    .bloc:nth-child(1),
    .bloc:nth-child(2) {
        margin-bottom: 50px;
    }
   
    /*contact page*/
    .imagegallery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }

}