
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap,,400,300,600');

html, body{
  height: 100%;
}
body {
    font-family: 'Playfair+Display', sans-serif;
    font-size: 1rem;
    margin: 0;
    background:#E0E0E0;
    color: #222;
    min-height: 100%;
  }


/*header*/
header {
    font-family: "pPlayfair+Display";
    display: flex;
    width: 100%;
    background-color:#B8B8F3 ;
    background-image: url(../images/Mormant_mairie.jpg);
    background-size: cover;
    background-position: center;
    
}
#logo {
    flex: 1;
    max-width: 80%;
    
}
#logo img {
    min-width: 250px;
    width: 15vw;
}



/* navigation*/


nav {
    display: block;
    list-style: none;
    margin: 0 auto;
    max-width: 760px;
    background-color: #2E4057;
    
}
.navigation{
  list-style: none;
  padding: 0;
}

.navigation li:first-child {
	display: block;
}
.navigation li {
	display: block;
}


nav a {
    color: #fff;
    padding: 0.75rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    background: #2E4057;
    display:block;
    text-align: center;
    text-decoration: none;
    font-family: "playfair";
    margin: 0 auto;
    max-width: 100%;
    font-size: 20px;
  }
  
  a:hover, a:focus {
    text-decoration: underline;
    color: #B8B8F3 ;
  }
  

.active a{
    background-color:#B8B8F3 ;
    color: black;
}

.responsive li{
  display: block;
}

#hero-section{
  background-image: url(images/herotown1.jpg);
}

/*home page*/
/*Weather*/
.weather{
	margin: 20px;
	background-color: transparent;
	padding: 10px;
  border: .5px solid #383737;
	display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  border-radius: .5em;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, .3);
  font-size: 20px;
  font-weight:bold ;
	
}

 h3{
  font-size: 30px;
}

.action {
  position: relative;
} 

.join {
  display: block; 
  height: 100px; 
  width: 300px; 
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  outline: none;
  border: none;
  background: #B8B8F3; 
  color: #000; 
  text-align: center; 
  border-radius: 5px; 
  cursor: pointer;
  font-size: 30px;
  font-weight: bold; 
  font-family:'Slabo 27px', serif;
}

.join:hover {
  text-decoration: none;
  background-color: #2E4057;
 color:#fff ;
}

a:link{
  text-decoration: none;
  background-color: #2E4057;
}
a:visited {
  text-decoration: none;
}


/* forecast*/

h2{
	font-weight: bold;
	text-align: center;
    text-shadow: 2px 2px 2px #555;
    color: #B8B8F3;
	
}

.forecastdiv{
  background-color:transparent;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
 
  
}

.forecast{
  display:block;
  text-align: center;
  
  
  
}


.forecastcol{
	display: flex;
	flex-direction: column;
	border: solid .5px #333;
	padding: 0;
	text-align: center;
  

}

.flex {
  display: grid;
	margin:auto;
	grid-template-columns: repeat(3, 1fr);
  border: .5px solid #383737;
  border-radius: .5em;
  margin: 10px;
	padding: 20px;
  background-color: #bebec077;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, .3);
  text-align: center;

    
}

.col-head {
  display: block;
  padding: 5px;
  text-align: center;
  background-color: 	#2E4057;
  color: #B8B8F3;
}

h3.col-head {
  margin: 0;
}

.data {
  display: block;
  padding: 0 5px 5px;
  font-size: 0.8rem;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

/* home page advert*/
.list-item ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list-item img {
  width: 100%;
}
.list-item h2 {
  margin-top: 0;
  margin-bottom: 0.4em;
}

.list {
  display: flex;
  flex-wrap: wrap;
  
}

.list-item {
	display: flex; 
  padding: 0.5em;
	width: 100%;
}

.list-content {
  background-color:#2E4057;
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 100%;
}

.list-content p {
  flex: 1 0 auto;
  color: #fff;
}

/* footer*/
footer{
  background-color:#2E4057;
  color: #B8B8F3;
  display: grid;
}


.address{
  margin-left: 40px;
  padding: 30px 0 10px 0;
  font-size: 20px;
  font-family: 'playfair', sans-serif;
  
}


.footerp{
  
  margin: 50px 0 50px 0;
  font-family: 'playfair', sans-serif;
  color:#B8B8F3;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  padding-bottom: 1rem;
  line-height: 15px;
  padding-left: 1.5rem;
}


/* Medias */

.social {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  right: 10px;
  font-weight: 500;
  letter-spacing: 1px;
}
.social img {
  width: 40px;
  margin: 10px 10px;
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  font-size: 15px;
}

/*contact Page*/

.container-contact{
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
}


#contact input[type="text"],
 #contact input[type="email"], 
 #contact input[type="tel"], 
#contact textarea,
 #contact button[type="submit"]
  { font:400 15px/20px "playfair", sans-serif;
    display: block;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 5px;
    box-sizing:border-box;
    width: 100%;
             }

  #contact{
    display: flex;
    flex-direction: column;
    justify-items: start;
    padding:25px;
    margin:50px 0;
  }

  #contact h3 {
    color: #2E4057;
    display: block;
    font-size: 35px;
    font-weight: 400;
  }
  
  #contact h4 {
    margin:5px 0 15px;
    display:block;
    font-size:20px;
  }
  

  form fieldset{
    margin-bottom: 20px;
    border: 3px solid gray;
    border-radius: 5px;
    padding: 15px;

}
  
.imagegallery{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 20px;
  justify-content: center;
  justify-items: center;
}
.galleryimage {
  font-size: 25px;
  max-width: fit-content;
  height: auto;
}

.galleryimage p{
  padding: 10px;
  font-family: "playfair";
  font-size: 20px;
}
main h3{
  color: #333;
  text-align: center;
  font-family: "playfair";
}

.map-wrap {
    width: 100%;
    display: flex;
    pointer-events: none;
    position: relative; /* IE needs a   position other than static */
    margin: 10px auto;
  }
  
  .content-wrap{
    padding-bottom: 50px;
    }

    /*Join Page*/
    form {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 25px;
      font-family:"playfair";
    }

  form legend{
    margin: 10px;
    padding: 15px; 
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: "playfair";
        
}
        
form label{
    display: block;
        
}
    
form label.top, form label.bottom {
  padding: 15px;
  font-size: 20px;
  font-family: "playfair";
  color: #333;
}

form label.top input, form label.top select, textarea, form label.bottom input, form label.bottom select {
  display: block;
  padding: 10px;
  width: 80%;
  max-width: 90%;
  background-color: #c6c6f0;
  
} 

form button {
  border: solid 1px #333;
  background-color:#B8B8F3;
  color: #333;
  border-radius: 10px;
  margin-top: 10px;
  padding: 4px;
  max-width: 10rem;
  height: 50px;
  width: 200px;
  font-size: 30px;
  text-align: center;
  }

  form label.top input:required, form label.bottom input:required {
    border-left: #2E4057 solid 6px;
    }
    
    .confirmed{
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
      width: 50%;
      align-content: center;
    }

     h4{
      font-size: 40px;
      text-align: center;
      font-family: "playfair";
    }

    /*mormant page*/

    .purpose, .historyp {
      color: #333;;
      border-radius: 15px;
      padding: 25px;
      font-size: 25px;
    }

    .wrapper{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      margin-top: 10px;
      
    }

    .mormant{
      grid-column: 1/2;
      width: 100%;
      height: auto;
  
  }

  .library{
    grid-column: 2/3;
    width: 100%;
    height: auto;
  
}

.monument{
  grid-column: 3/3;
  width: 100%;
  height: auto;
  
}

.demographics{
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin: 30px;
  justify-content: center;
}  

.demo, .graphics{
  text-align: left; font-size: 25px;
  text-align: center;
  color: #333;
  display: grid;
  grid-template-columns: 1fr;
}

.demop{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding-top: 9px;
  color: #333;
}

.history{
  margin: 30px 0;
  padding: 20px;
  color: #333;
  font-size: 15px;
}

.history h1{
  text-align: center;
  padding: 0 0 0 10px;
  color: #333;
}

.oldMormant {
  float: right;
  width: 300px;
  padding: 25px 25px 15px 15px;
}
 /*directory*/

 div.x {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  grid-gap: 15px;
  margin: 0 auto;
  padding: 20px 0px;
}

#bCards {
  border: 4px solid #343A40;
  margin: 50px;
  background-color:#B8B8F3;
}

.cards h2 {
  color: #2E4057;
  font-size: 20px;
}
.cards h3, .cards p{
  color: #000;;
}

.directorycontainer{
  box-sizing: border-box;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.btn {
  margin: .25rem 0;
  border: 4px solid #182832;
  outline: none;
  padding: 12px 16px;
  background-color:#B8B8F3;
  cursor: pointer;
}


.btn:hover {
  background-color: #ddd;
}


#bCards picture img{
  max-width: 200px;
  max-height: 80px;
}



    /*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
	content: "";
	display: table;
	clear: both;
  }

  
  