
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');


body {
    font-family: 'Playfair+Display', sans-serif;
    font-size: 1rem;
    margin: 0;
    background:#E0E0E0;
    color: #222;
  }


/*header*/
header {
    font-family: "pPlayfair+Display";
    display: flex;
    width: 100%;
    background-color:#B8B8F3 ;
    background-image: url(../images/Mormant_mairie.jpg);
    background-size: cover;
    background-position: center;
    
}
#logo {
    flex: 1;
    
    
}
#logo img {
    min-width: 250px;
    width: 15vw;
}

button{
    display:flex;
    float: right;
    font-family: "playfair";
    font-weight: 150;
    font-size: 1.5em;
    background-color: #B8B8F3;
    
}

/* navigation*/

nav {
    display: block;
    list-style: none;
    margin: 0 auto;
    max-width: 760px;
    background-color: #2E4057;
    
}
.navigation{
  list-style: none;
  padding: 0;
}

.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}

nav a {
    color: #fff;
    padding: 0.75rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    background: #2E4057;
    display:block;
    text-align: center;
    text-decoration: none;
    font-family: "playfair";
    margin: 0 auto;
    max-width: 100%;
    font-size: 20px;
  }
  
  a:hover, a:focus {
    text-decoration: underline;
    color: #B8B8F3 ;
  }
  

.active a{
    background-color:#B8B8F3 ;
    color: black;
}

.responsive li{
  display: block;
}

/*Weather*/
.container{
  padding: 20px 70px;
  color:gray;
}


.current-info{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.date-container{
  font-weight: 100;
}
.date-container .time{
  font-size: 70px;
}

.date-container #am-pm{
  font-size: 30px;
  margin-left: 20px;
}

.date-container .date{
  font-size: 30px;
}

.place-container{
  text-align: end;
}
.place-container .time-zone{
  font-size: 30px;
  font-weight: 100;
}

.place-container .country{
  font-size: 12px;
  font-weight: 700;
}

.weatherSummary{
	position: relative;
	top: 20px;
	left: 20px;
	background-color: rgb(206, 228, 241);
	border: .5px solid;
	padding: 10px;
  border: .5px solid #383737;
	grid-auto-columns: auto auto;
  border-radius: .5em;
	
}
.weatherSummary h2{
	grid-column: 1/3;
	margin: 0;
}
.weatherSummary label{
	text-align: right;
	font-weight: bold;
  color: gray;
  background: transparent;
}

.weatherSummary p{
	margin: 0;
	padding: 2px;
}

/* forecast*/

h2{
	font-weight: bold;
	text-align: center;
    text-shadow: 2px 2px 2px #555;
    color: gray;
	
}

.forecastArea{
	display:flex;
  flex-direction: column;
	width: 100%;
	border: 2px solid black;
	
}
#forecastFive{
	display:grid;
	grid-template-columns: repeat(3, 1fr);
  border: .5px solid #383737;
  border-radius: .5em;
  margin: 20px;
	padding: 20px;
  background-color: transparent;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, .3);
  text-align: center;
    
}


.forecastcol{
	display: flex;
	flex-direction: column;
	border: solid .5px black;
	padding: 0;
	text-align: center;
}

.forecastDay {
	margin: 0;
	background: transparent;
	text-align: center;
	width: 100%;
	padding-top: 20px; 
	padding-bottom: 20px; 
	font-weight: bold;
    color: black;
}
.forecastCol img {
	padding-top: 10px;
	max-width: 90%;
	height:	auto; 
    align-items: center;
}
.forecastTemp {
	color: gray;
	font-weight: bold;
    text-align: center;
}
    
/* advert*/
.list-item ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list-item img {
  width: 100%;
}
.list-item h2 {
  margin-top: 0;
  margin-bottom: 0.4em;
}

.list {
  display: flex;
  flex-wrap: nowrap;
}

.list-item {
	display: flex; 
  padding: 0.5em;
	width: 100%;
}


/* footer*/
footer{
  flex-shrink: 0;
  border-top: 1px dashed #000;
  width: 100%;
  background: #B8B8F3;
  color: #333;
}

.container-footer {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 20px;
  padding: 30px 0 50px;
}

.bloc {
  width: 25%;
  margin: 0 20px;
}

.footer-contact h3,
.footer-media h3{
  font-size: 25px;
  padding-bottom: 20px;
}

.footer-contact p {
  padding: 5px 0;
}

.liste-media {
  list-style-type: none;
}

/* Medias */

.liste-media {
  position: relative;
  right: 10px;
  font-weight: 500;
  letter-spacing: 1px;
}
.liste-media img {
  width: 40px;
  margin: 10px 10px;
}
.liste-media a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.liste-copyright {
  padding: 2px 0;
}
