@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

.color {
    light-sky-blue: hsla(203, 80%, 76%, 1);
    light-green: hsla(116, 72%, 68%, 1);
    dark-green-x-11: hsla(118, 61%, 24%, 1);
    gold-metallic: hsla(49, 91%, 44%, 1);
    dark-red: hsla(10, 100%, 27%, 1);
    
}

div.logo-box{
    background-color:hsla(118, 61%, 24%, 1) ;
    font-size: 16px;
}

h1, h2{
    font-size: 16px;
    font-family: 'Merriweather' sans-serif;
}

header footer{
    display: flex;
    font-family: 'Roboto' ,sans-serif;
    align-items: center;
    justify-content: center;
    background-color: lightskyblue;
}

nav{
    background-color: darkgreen;
    text-align: center;
    box-shadow: 0 2px 15px lightgreen;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;   
}

nav ul li a{
    display: block;
    text-align: center;
    color: gold;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;
}

nav a:hover{
    background-color: darkred;

}

.active{
    color: lightgreen;
}


main{
    display: grid;
    grid-template-columns: auto 1fr auto;
    font-family: 'Merriweather', serif;  
}

body{
    background-color: lightskyblue;
    
}