@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

.color {
    --light-sky-blue: hsla(203, 80%, 76%, 1);
    --light-green: hsla(116, 72%, 68%, 1);
    --dark-green-x-11: hsla(118, 61%, 24%, 1);
    --gold-metallic: hsla(49, 91%, 44%, 1);
    --dark-red: hsla(10, 100%, 27%, 1);
    

}
html{
    font-family: 'Merriweather', serif;  
}

body{
    background-color: var(--light-sky-blue);
}