@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

.color {
    light-sky-blue: hsla(203, 80%, 76%, 1);
    light-green: hsla(116, 72%, 68%, 1);
    dark-green-x-11: hsla(118, 61%, 24%, 1);
    gold-metallic: hsla(49, 91%, 44%, 1);
    dark-red: hsla(10, 100%, 27%, 1);
    
}

div.logo-box{
    background-color: darkgreen ;
      
}
img{
    width: auto;
    
}

h1 h2{
    font-size: 30px;
    font-family: 'Merriweather' sans-serif;
}
h1{
    box-shadow: 2px 2px 5px 2px;
    color: darkred;
}

header, footer{
    display: flex;
    flex-flow: column;
    font-family: 'Roboto' ,sans-serif;
    align-items: center;
    justify-content: center;
    background-color: darkgreen;
}

header{
    box-shadow: 5px 5px 10px 2px;
}

nav{
    background-color: lightgreen;
    text-align: center;
    box-shadow: 0 5px 20px rgb(2, 34, 2);
}
nav ul{
    list-style-type: none;
    margin: 1px;
    padding: 1px;
    overflow: hidden;   
}


nav ul li a{
    display: block;
    text-align: center;
    color:black;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;
}

nav a:hover{
    
    background-color: gold;

}

.active{
    color: lightgreen;
}


main{
    display: grid;
    grid-template-columns: auto 1fr auto;
    font-family: 'Merriweather', serif;  
}

body{
    background-color: lightskyblue;
    
}